.carousel_wrapper {
  display: flex;
  flex-direction: row;
  max-width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.arrow {
  max-width: 40px;
}

.project_carousel {
  overflow: hidden;
  position: relative;
  max-width: 80vw;
}

.carousel_track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.project_name {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  flex-shrink: 0;
}

.project_name img {
  max-width: 50vw;
}
